{% extends "base.html" %}

{% block customcss %} {% endblock %}

{% block customjs %}
<script>
$(document).ready(function(){

	$('#msg_info').draggable();
	$('#msg_info #boton_cancelar').click(closeMsg);
	$('#msg_info #boton_aceptar').click(function(){ window.location='{{ site.domain }}/users/relUserGroup/delete/'+$(this).attr('id_group')+'/'; return false; });

	function closeMsg(){
		$.modal.close();
		$('#msg_info').hide();
		$('#main').fadeTo("slow", 1);
		return false;
	}

	$('.delete').click(function(){
		var id = $(this).attr('id').substr(3);
		var username = $("[field='username']","#group_"+id).html();
		var groupname = $("[field='groupname']","#group_"+id).html();
		$('#msg_info #msg_text').html("Desea eliminar de forma definitiva al relacion <b>"+username+":"+groupname+"</b>");
		$('#msg_info').modal({position: [60,(window.innerWidth/2)-200]});
		$('#msg_info').show();
		$('#main').fadeTo("slow", 0.33);
		$("#boton_aceptar").attr("id_group",id);

		return false;

	});


});
</script>

{% endblock %}

{% block tools %}
	{% include "users/menu.html" %}
{% endblock %}
{% block content %}

<div class='window border-all ui-corner-all' style='display: none; width: 400px; margin: auto; position: absolute;' id='msg_info'>
	<div class='frame-top font-1 ui-corner-top' style='padding-left: 25%;'>Atención!!!
		<span class='pos-right close'>
			<a href='#cerrar' id='boton_cancelar'>Cancelar</a>
		</span>
		<span class='pos-right save'>
			<a href='#cerrar' id='boton_aceptar'>Aceptar</a>
		</span>
	</div>
	<div class='font-1' style='margin: 30px 10px;' id='msg_text'> </div>
</div>

<div class='window border-all' style='width: 800px; margin: auto;'  id='main'>
	<div class='frame-top font-1'>Relaciones Usuario:Grupo
		<span class='pos-right add'>
		<a href='{{ site.domain }}/users/relUserGroup/add/'>Agregar Relación</a>
		</span>
	</div>
	<div id='groups_table'>
		<table style='padding: 5px; width: 100%; text-align: center;'>
			<tr>
				<th style=''>Usuario</th>
				<th style='text-align: left; padding-left: 40px;'>Grupo</th>
				<th style='width: 60px;'></th>
			</tr>
			{% for relacion in relaciones %}

			<tr id='group_{{ relacion.id }}'>
				<td style='text-align: right;' field='username'>{{ relacion.uid.username }}</td>
				<td style='text-align: left; padding-left: 40px;' field='groupname'>{{ relacion.gid.groupname}}</td>
				<td style='width: 60px;'>
					<a href='#delete' id='id_{{ relacion.id }}' class='delete'><img src='{{ media_url }}/images/delete-10x10.png' style='border: 0;' /></a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
<div style='clear: both'>&nbsp;</div>

{% endblock %}
