{% load sysinfotags %}
<table style='width: 100%; text-align: center;'>
		<tr><th style='text-align: center;'>fs</th><th style='text-align: center; width: 110px;'>%</th><th style='text-align: center;'>Usado</th>
			<th style='text-align: center;'>Libre</th><th style='text-align: center;'>Total</th><th style='text-align: center;'>Mnt.</th></tr>
	{% for disk in info %}
		<tr><td>{{ disk.fs }}</td>
		    <td>
			{% autoescape off %}{{ disk.used|progress }}{% endautoescape %}
			</div></td>
			<td>{{ disk.blocks_used }}</td>
			<td>{{ disk.blocks_available }}</td>
			<td>{{ disk.blocks_total }}</td>
			<td>{{ disk.mount }}</td>
		</tr>
	{% endfor %}
		</table>
